body{
  display: flex;
  flex-flow: column;
  background-color:#86A8C5;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Noto Sans JP - 400;
  align-items: center;
  z-index:100px;
}

.tate{
  background-color: white;
  background-position: center;
  float:  right; 
  border-radius: 30px;             /* 位置指定 */
}

.column{
  text-align:center;
}

.display-Checkmark-Text{
  display: flex;
  flex-flow:row wrap;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#btn{
  margin: 0.3em 0.5em 0.3em 0;
  background-color: aqua;
  width: 3em;
  height:3em;
  border-radius:50%;
  font-size: 15px;
}

#textarea{
  resize:none;
  border-radius:10px;
  width: 500px;
  font-size: 90%;
  height: 50px;
  display: flex;
}

::placeholder {
  /* https://x.gd/9Uj74 */
  /* ⇒URLURLinputタグにてplaceholderの文字サイズを小さくした時の、Chromeの挙動がおかしい */
  position:relative;
  top:15px
}
#error-text {
  position: absolute; 
  right:19.5em;
  top: 3.2em;
  /* margin-bottom:-1em; */
  color: red;
  max-width: 100%;
  word-wrap: break-word;
}

.date-error-text{
  flex-direction: column;
  font-weight: red;
  color: #7808AE;/*文字色*/
  background: #FFF;
  border: solid 3px #7808AE;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.button-items{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.filter-sort-bar{
  display: flex;
  line-height: 0.05em;
}

.sort{
  margin-left: 9em;
}

.filter{
  margin-left: 9.5em;
}

.creation-date{
  margin: 0.3em 1.5em 0.3em 0;
}

#sort-desc-createdat-at-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
}

#sort-asc-createdat-at-btn{
  margin: 0.3em 1.5em 0.3em 0;
  font-size: 15px;
}

.deadline{
  text-align:center;
  margin: 0.3em 1.4em 0.3em 0;
}

#sort-desc-deadline-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
}

#sort-asc-deadline-btn{
  margin: 0.3em 1.5em 0.3em 0;
  font-size: 15px;
}

.priority{
  margin: 0.3em 1.5em 0.3em 0;
}

#sort-desc-priority-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
}

#sort-asc-priority-btn{
  margin: 0.3em 1.5em 0.3em 0;
  font-size: 15px;
}

.filter-priority-items{
  margin-left: 3em;
}

.filter-priority{
  text-align:center;
  line-height: 0.05;
}

#filter-priority-high-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
  height: 1.6em;
}

#filter-middle-priority-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
  height: 1.6em;
}
#filter-low-priority-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
  height: 1.6em;
}

#filter-no-priority-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
  height: 1.6em;
}

/* JS追加クラス */
.text{
  width: 15em;
  padding: 3px 7px;
}

.delete-button{
  margin-right: 15px;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

input[type=checkbox] {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  transform: scale(1.5);
}

.check-box-enabled{
  color: pink;
  /* text-decoration: line-through;  */
  opacity: 0.5;
}

.todo-item {
  overflow: hidden;
  margin: 10px;
  justify-content: space-between;
  display: flex;
  align-items:center;
  resize:none;
  width: 30em;
  height: 2.5em;
  font-weight: bold;
  color: #7808AE;/*文字色*/
  background: #FFF;
  border: solid 3px #7808AE;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.high-priority{
  border: solid 3px red;
}

.middle-priority{
  border: solid 3px orange;

}
.low-priority{
  border: solid 3px blue;
}

.deadline-item {
  text-align:center;
  height:100%;
  line-height:250%;
  width: 7em;
  font-weight: bold;
  color: #7808AE;/*文字色*/
  background: #FFF;
}

.input-date{
  width: 30em;
  font-weight: bold;
  color: #7808AE;/*文字色*/
  background: #FFF;
  border: solid 3px #7808AE;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.priority-item{
  text-align:center;
  height:100%;
  line-height:250%;
  width: 1em;
  font-weight: bold;
  color: #7808AE;/*文字色*/
  background: #FFF;
  border: solid 3px #7808AE;/*線*/
}

