body{
  display: flex;
  flex-flow: column;
  background-color:#86A8C5;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
}

.message{
  font-size: 30px;
}

.main-outline{
  background-color: white;
  background-position: center;
  float: right; 
  border-radius: 30px;  /* 位置指定 */
  margin-top:0.5em;
  margin-bottom: 1em;
}

.column{
  text-align:center;
  width:40em;
}

.display-checkmark-text{
  display: flex;
  justify-content: center;
  flex-flow:row wrap;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#edit-textarea{
  resize:none;
  border-radius:5px;
  width: 32em;
  font-size: 90%;
  height: 2em;
  display: flex;
}

#btn{
  border: 1px solid;
  margin: 0.3em 0.5em 0.3em 0;
  background-color: #476b8f;
  width: 3em;
  height:3em;
  border-radius:50%;
  font-size: 15px;
  color:white;
}
.edit-button{
  border: 1px solid;
  margin: 1em;
  width:3em; 
  height: 2.3em; 
  background-color: #1976D2;
  border: 1px solid;
  color: #FFF;
  border-radius:10%;
  font-size: 16px;
}

.completed-button{
  border: 1px solid;
  margin: 1em;
  width:3em; 
  height: 2.3em; 
  background-color: #1976D2;
  border: 1px solid;
  color: #FFF;
  border-radius:10%;
  font-size: 16px;
}

#textarea{
  resize:none;
  border-radius:10px;
  width: 500px;
  font-size: 90%;
  height: 50px;
  display: flex;
}

::placeholder {
  /* https://x.gd/9Uj74 */
  /* ⇒URLURLinputタグにてplaceholderの文字サイズを小さくした時の、Chromeの挙動がおかしい */
  position:relative;
  top:15px
}

#error-text {
  position: absolute; 
  right:19.5em;
  top: 3.2em;
  /* margin-bottom:-1em; */
  color: red;
  max-width: 100%;
  word-wrap: break-word;
}

.button-items{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.filter-sort-bar{
  display: flex;
  line-height: 0.05em;
}

.sort{
  margin-left: 9em;
}

.filter{
  margin-left: 9.5em;
}

.creation-date-items{
  display: flex;
  flex-direction: column
}
.creation-date{
  margin: 0.3em 1.5em 0.3em 0;
}

#sort-desc-createdat-at-btn{
  border: 1px;
  font-size: 15px;
  color: #4FC3F7;
  background-color: white;
}
#sort-desc-createdat-at-btn:hover {
  color: #1976D2;
}

#sort-asc-createdat-at-btn{
  border: 1px;
  font-size: 15px;
  color: #4FC3F7;
  background-color: white;
}

#sort-asc-createdat-at-btn:hover{
  color: #1976D2;
}

.deadline-items{
  display: flex;
  flex-direction: column
}

.deadline{
  text-align:center;
  margin: 0.3em 1.4em 0.3em 0;
}

#sort-desc-deadline-btn{
  border: 1px;
  color: #4FC3F7;
  background-color: white;
  font-size: 15px;
}
#sort-desc-deadline-btn:hover{
  color: #1976D2;
}

#sort-asc-deadline-btn{
  border: 1px;
  color: #4FC3F7;
  background-color: white;
  font-size: 15px;
}
#sort-asc-deadline-btn:hover{
  color: #1976D2;
}

.priority-items{
  display: flex;
  flex-direction: column
}

.priority{
  margin: 0.3em 1.5em 0.3em 0;
}

#sort-desc-priority-btn{
  border: 1px;
  color: #4FC3F7;
  background-color: white;
  font-size: 15px;
}

#sort-desc-priority-btn:hover{
  color: #1976D2;
}
#sort-asc-priority-btn{
  border: 1px;
  color: #4FC3F7;
  background-color: white;
  font-size: 15px;
}
#sort-asc-priority-btn:hover{
  color: #1976D2;
}

.filter-priority-items{
  margin-left: 3em;
}

.filter-priority{
  text-align:center;
  line-height: 0.05;
}

#filter-priority-high-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
  height: 1.6em;
  border-radius:20%;
  font-size: 15px;
  color:white;
  background-color: #5eaaf0;
  border: 1px solid;
}
#filter-priority-high-btn:hover{
  background-color: #1976D2;
  color:white;
}


#filter-middle-priority-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
  height: 1.6em;
  border-radius:20%;
  font-size: 15px;
  color:white;
  background-color: #5eaaf0;
  border: 1px solid;
}
#filter-middle-priority-btn:hover{
  background-color: #1976D2;
  color:white;
}

#filter-low-priority-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
  height: 1.6em;
  border-radius:20%;
  font-size: 15px;
  color:white;
  background-color: #5eaaf0;
  border: 1px solid;
}
#filter-low-priority-btn:hover{
  background-color: #1976D2;
  color:white;
}

#filter-no-priority-btn{
  margin: 0.3em 0.5em 0.3em 0;
  font-size: 15px;
  height: 1.6em;
  border-radius:20%;
  font-size: 15px;
  color:white;
  background-color: #5eaaf0;
  border: 1px solid;
}
#filter-no-priority-btn:hover{
  background-color: #1976D2;
  color:white;
}

/* JS追加クラス */
.text-wrapper{
  width: 29em;
  font-size: 15px;
  font-family:'メイリオ', 'Meiryo', sans-serif;
}

.delete-button{
  border: 1px solid;
  background-color: #1976D2;
   color:white;
  border-radius:50%;
  margin-right: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  width: 1.5em;
}

input[type=checkbox] {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  transform: scale(1.5);
}

.check-box-enabled{
  color: pink;
  opacity: 0.5;
}

.todo-item {
  width: 40em;
  height: 2.3em;
  margin: 3px;
  resize:none;
  display: flex;
  justify-content: space-between;
  border: solid 3px #86A8C5;/*線*/
  border-radius: 10px;/*角の丸み*/
  align-items:center;
  overflow: hidden;
  color: #34312E;
  font-weight: normal;
  background: #FFF;
}

.high-priority{
  border: solid 3px #6be8ba
}
.middle-priority{
  border: solid 3px #4dd5d4;
}
.low-priority{
  border: solid 3px #67bfd8;
}

.deadline-item {
  overflow: hidden;
  float: right;
  text-align:center;
  width: 8em;
  background: #FFF;
  font-size: 15px;
}